.global-cta-wrapper {
    position: fixed;
    bottom: 0;
    align-content: center;
    background-color: #d73f09;
    padding-block: 1rem;
    z-index: 9999;

    @media (min-width: 992px) {
        position: relative;
        background-color: unset;
    }
}

.cta-buttons {
    display: flex;
    justify-content: center;
    padding-inline: 1rem;
    gap: 1rem;

    @media (min-width: 576px) {
        display: flex;
        justify-content: center;
    }

    @media (min-width: 992px) {
        gap: 1rem;
    }

    a {
        color: #fff;
        text-decoration-color: transparent;
        font-size: .9rem;
        transition: transform .2s ease-in, background-color .1s ease-in, color .15s ease-in;
        display: flex;
        align-items: start;
        height: 100%;

        @media (min-width: 992px) {
            padding: 0.1rem 0.8rem;
            border: 1.5px solid #d73f09;
            color: #423e3c;
            font-size: 1rem;
            border-top-left-radius: .6rem;
            border-bottom-right-radius: .6rem;
        }

        &:focus-within,
        &:hover {
            background-color: #d73f09;
            color: #fff;
            transform: scale(1.025);
        }
    .cta-link-icon {
        padding-inline-end: .4rem;
    }
    }
}